.App{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.tabs{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
button{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f0f0ff;
  font-weight: bold;
}
button.active{
  background-color: #007bff;
  color: white;
}
input{
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  box-sizing: border-box;
}
.tab-content{
  margin-top: 20px;
}
.image-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}
img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.empty-image-slot {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px dashed #aaa;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.output{
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4ff;
  border-radius: 5px;
  text-align: left;
}
.recipe-text{
 max-width: 100%;
 padding: 10px;
 box-sizing: border-box; 
 word-wrap: break-word;
 overflow-y: auto;
 font-size: calc(12px+0.5vw);
 line-height: 1.6;
 border: 1px solid #ccc;
 margin-bottom: 20px;
}
